[Unit]
Description=ИРУ v3.4 Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/iru/app/server
ExecStart=/opt/iru/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
